# Jupyter environment
ipykernel
jupyter

# Core libraries
numpy
pandas
seaborn
scikit-learn

matplotlib      # for plotting
tqdm            # for progress bars in training loops
torchsummary
torch           # PyTorch for deep learning